# SERVER = 'http://api.cn.faceplusplus.com/'
# uncomment the following line to switch to US server
SERVER = 'http://api.us.faceplusplus.com/'

API_KEY = 'a82b06e8e3beb94930b33a186a31e259'
API_SECRET = '7dW5BGpWgGwNgD2zsEmYJJe9rok2vWk4'
